@charset "utf-8";
// Import a Google Font
// @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap');

// Set your brand colors
$purple: #ffffff;
$pink: #FF0000;
$brown: #ffffff;
$beige-light: #D0D1CD;
$darker-red: #FF0000;

// Update Bulma's global variables
$family-sans-serif: 'Bebas Neue', cursive;
$family-paragraph: 'Montserrat', sans-serif;
$grey-dark: $brown;
$light: $beige-light;
$primary: rgb(248, 248, 248);
$link: white;
$widescreen-enabled: false;
$fullhd-enabled: false;


// Update some of Bulma's component variables
$body-background-color: #0f0f0f;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
$title-size: 80px;

// Import what you need from Bulma
@import "../../node_modules/bulma/bulma.sass";

// .hero-body {
//   background-color: $body-background-color;
//   background-image: linear-gradient(147deg, #923cb5 0%, #000000 74%);
//   font-family: 'Bebas Neue', cursive;
// }



.page-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.page-nation {
  border-bottom: solid 1px #e2e2e2;
  padding: 10px;
  $family-paragraph: 'Montserrat', sans-serif;
}

.container {
  display: flex;
  width: 99%;
  justify-content: center;
  flex-wrap: wrap;
}


.pageclasses {
  color: rgb(155, 146, 146);
}

.burger {
  margin: 20px;
  background-size: 100%;
  cursor: grabbing;
}

.navbar-item img {
  max-height: 5.75rem;
}


.navbar {
  background-color: $darker-red;
  display: flex;
  height: 100px;
  flex-direction: row;
}

footer {
  text-align: center;
}

.mob-menu {
  font-size: 20px;
}

.menu-list {
  width: 100%;
  text-align: center;
  height: 80%;
}

.menulist a {
  background-color: #FF0000;
}

// .navbar-item {
//   background-color: $darker-red;
//   padding: 5px;
// }

.card-content {
 padding: 5px;
 background-color: $body-background-color;
 border: none;
}


.card .card-image {
  height: 250px;
  width: 190px;
}

.car {
  overflow-y:scroll;
  overflow-x:scroll;
}

.dropdown {
  position: fixed;
  background-color: red;
  width: 20%;
  height: 100%;
  z-index: 50;
}

.bottom-left {
  display: flex;
  flex: wrap;
}

.reccomendations {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 300px;
  width: 70%;
  overflow-y:scroll;
  overflow-x:scroll;
  margin-right: 10px;
}

.scroll-bar {
  display: flex;
  flex: wrap;
}

.card .card-image .another {
  height: 80px;
  width: 60px;
}


.movie-container {
  margin: 20px;
  padding: 20px;
}

.image-poster {
  width: 300px;
  height: 450px;
  margin-top: 10px;
}

.rex-box {
  display: flex;
  flex-direction: row;
}

a .navbar-item {
  background-color: #FF0000;
}

@media only screen and (max-width: 600px) {
.rex-box {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 85%;
  }
}


.subtitle {
  padding-top:20px;
}

.tile {
  color: $darker-red;
  background-color: $body-background-color;
}

.text {
  font-family: 'Montserrat', sans-serif;;
}

.rexHeader {
  font-size: 70px;
  padding-left: 10px;
}
.navbar-burger, a {
  width: 100px;
  height: 100px;
  padding: 5px; 
}



